
R/.Rhistory
R/.Rhistory
*.Rdata
*.pper
*.Rproj.user
*.vs
*.vs/*
*.sln
*.suo
Python/Projekt_R_Python/.vs/Projekt_R_Python/v17/.suo
*__pycache__*
*.pyc
*.pyc
*.pyc
Python/Projekt_R_Python/.vs/Projekt_R_Python/v17/.suo
